@import './popularItems';
@import './earning';
@import './order';
@import './userOnboard';

.no-data-container {
  text-align: center;
  .content {
    margin-top: 0.5em;
  }
}

.reviews-container {
  min-height: 10em;
  .review-container {
    display: flex;
    .description {
      flex: 1;
    }
  }
}