.popular-items {
  .popular-items-container {
    .item-row {
      display: flex;
      padding: 0.5em;
      &:nth-child(even){
        background-color: #ECF1F6;
        border-radius: 5px;
      }
      .index {
        width: 15%;
      }
      .name {
        flex: 1;
      }
      .count, .amount {
        width: 15%;
      }
    }
    .load-more {
      text-align: center;
      padding-top: 1em;
    }
  }
}