.form-container {
  padding: 4em !important;
  .form-header {
    color: $modal-header-color !important;
  }
  .description {
    color: $modal-description;
    margin-bottom: 2em;
  }
  .submit-button {
    background-color: $modal-submit-button;
    color: white;
    margin-top: 1em;
  }
  .form-footer {
    margin: 1em 1em 0;
    padding: 1em 1em 0;
    text-align: center;
    color: $modal-header-color !important;
  }
  .input-example {
    text-align: left;
    position: relative;
    top: -1em;
    left: 5px;
    font-size: 0.95em;
    color: gray;
  }
}