.side-menu-header-buffer {
  height: 2.85em;
}

.sidebar {
  .item {
    color: $sidebar-menu-item-color !important;
    font-weight: bold !important;
    .menu-icon {
      font-size: 1.5em;
      padding-right: 1em;
    }
    &.active {
      color: $sidebar-menu-item-active-color !important;
    }
  }
}

.side-menu-info-container {
  padding-top: 2em !important;
  background-color: #394B56 !important;
  .title {
    text-align: center;
    color: $heading-color !important;
  }
  .description {
    text-align: center;
    color: $description-color !important;
  }
}