@import './form/form';
@import './input/input';
@import './radioButtons/index';
@import './imageUploader/imageUploader';
@import './checkbox/checkbox';
@import './textArea/textArea';
@import './search/search';
@import './select/select';
@import './phoneInput/input';
@import './submitButton/submitButton';

form > .field {
  margin-bottom: 1em;
  .error {
    text-align: left;
    margin-top: 0.5em;
    color: $warning;
    font-family: 'Lato';
  }
}